@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pixelFont;
  src: url(../../public/novem___.ttf);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 51, 51, 51;
  --background-end-rgb: 51, 51, 51;
  --bg-image-game-idea: none;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navigation{
  height: 6vh;
  min-height: 50px;
  min-width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(41, 41, 41);
}
.navBarButton {
  width: 15%;
  min-width: 10%;
  height: 70%;
  min-height: 60%;
  border-radius:20%;
}
.navigation > a:hover {
  filter: drop-shadow(2px 2px 1px rgba(255, 223, 193, 0.5))
}

.button {
  image-rendering: pixelated;

}
.banner {
  top: 0;
  justify-content: center;
  image-rendering: pixelated;
}
.footer{
  height: 6vh;
  min-height: 50px;
  min-width: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(41, 41, 41);
}
.home{
  height: 88vh;
}
.description {
  width: 30%;
}
.description > a {
  border-radius: 25px;
  border-color: rgb(230, 170, 115);
  border-width: 3px;
  justify-content: center;
  font-family: pixelFont
}
.description > a > h2 {
  color: rgb(255, 223, 193)
}
.description > a > p {
  color: rgb(255, 223,193)
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
  min-height: 500px;
  min-width: 400px;
}
.characterPanel{
  /*background-color: rgb(247, 75, 75); */
  display: flex;
  width: 70%;
  height: 70%;
  align-items: center;
  justify-content: space-around;
}
.characterSheet{
  background-color: rgb(41, 41, 41); 
  border-radius: 20px;
  width: 30%;
  min-width: 200px;
  height: 80%;
  min-height: 500px;
  font-family: pixelFont;
}
.characterSheet > div {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(230, 170, 115);
}
.characterSheet > div:nth-child(1){
  font-size: 200%;
}
.characterSheet > div:nth-child(2){
  font-size: 150%;
  color:rgb(255, 223, 193);
}
.profilePic {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.socials > a {
  display: flex;
  width: max-content;
  flex-direction: row;
  align-items: end;
  color: azure;
  font-family: pixelFont;
  font-size: 200%;
}
.socials > a:hover {
  border-color: rgba(230, 171, 115, 0.808);
  background-color: rgba(255, 223, 193, 0.829);
  border-width: 2px;
  border-radius: 5px;
  color:rgb(41, 41, 41)
}
.socials > a > img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  margin-right: 10px;
}
.logo{
  width: 52px;
  height: 52px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
.tinyLogo {
  width: 40px;
  height: 40px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
.tinyLogo + p {
  font-size: 50%;
}
.games {
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.gamePanel {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-around;
  color:rgb(230, 170, 115);
}
.gameSheet {
  width: 60%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 400%;
  font-family: pixelFont;
}
.game{
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: start;
}
.game > * {
  padding-top: 5%;
}
.title {
  font-size: 200%;
  font-family: pixelFont;
  color:rgb(230, 170, 115);
}
.gameIdeaSheet {
  width: 80%;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}
.gameIdea {
  background-image: var(--bg-image-game-idea);
  background-size: contain;
  image-rendering: pixelated;
  width: 20%;
  height: 100%;
  border-radius: 25px;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0);
  color:rgb(0, 0, 0,0);
  text-align: center;
  font-family: pixelFont;
  text-wrap: balance;
  transition: color 1s, border-color 1s;
  
}
.gameIdea:hover {
  border-color: rgba(230, 171, 115, 0.808);
  color:rgb(255, 223, 193);
  backdrop-filter: opacity(0.1);
}
.gameIdea > div {
  width: 100%;
  height: 100%;
}
.gameIdea > p {
  isolation: isolate;
  opacity: 2;
}
