@font-face {
  font-family: pixelFont;
  src: url(../../public/novem___.ttf);
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 51, 51, 51;
  --background-end-rgb: 51, 51, 51;
  --bg-image-game-idea: none;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html, body
{
    height: 100%;
    width: 100%;
}



body {
  margin:0%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.description {
  display: flex;
  min-width: 50%;
  max-width: 70%;
  min-height: 30%;
}
.description > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 25px;
  border-color: rgb(230, 170, 115);
  border-width: 3px;
  font-family: pixelFont;
  text-align: center;
  text-wrap: wrap;
  min-width: 100%;

}
.description > div > h2 {
  display: flex;
  color: rgb(255, 223, 193);
  font-size: 4vh;
  word-break:break-all;
}
.description > div > p {
  display: flex;
  color: rgb(255, 223,193);
  font-size: 2.5vh;
}
/*


.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
  min-height: 500px;
  min-width: 400px;
}
.characterPanel{
  background-color: rgb(247, 75, 75); 
  display: flex;
  width: 70%;
  height: 70%;
  align-items: center;
  justify-content: space-around;
}
.characterSheet{
  background-color: rgb(41, 41, 41); 
  border-radius: 20px;
  width: 30%;
  min-width: 200px;
  height: 80%;
  min-height: 500px;
  font-family: pixelFont;
}
.characterSheet > div {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(230, 170, 115);
}
.characterSheet > div:nth-child(1){
  font-size: 200%;
}
.characterSheet > div:nth-child(2){
  font-size: 150%;
  color:rgb(255, 223, 193);
}
.profilePic {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
.title {
  font-size: 200%;
  font-family: pixelFont;
  color:rgb(230, 170, 115);
}
.gameIdeaSheet {
  width: 80%;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}
.gameIdea {
  width: 20%;
  height: 100%;
  display: grid;
  position: relative;
  transition: color 1s, border-color 1s;
}
.gameIdea::before {
  background-image: var(--bg-image-game-idea);
  border-radius: 25px;
  content: '';
  position: absolute;
  inset: 0;
}
.gameIdeaDefault::before{
  background-size: contain;
}

.gameDiv{
  isolation:isolate;
  display: flex;
  height: 100%;
  width: 100%;
  border-width: 3px;
  border-radius: 25px;
  border-color: rgba(0, 0, 0, 0);
  color:rgb(0, 0, 0,0);
  background-color: rgba(90, 18, 18, 0);
  text-align: center;
  font-family: pixelFont;
  text-wrap: balance;
  place-items: center;
  transition: backdrop-filter 1s, color 1s, border-color 1s;
}

.gameDiv:hover{
  border-color: rgba(230, 171, 115, 0.808);
  color:rgb(255, 223, 193);
  backdrop-filter: blur(5px);
  backdrop-filter: brightness(0.5);
}
.gameIdea > p {
  isolation: isolate;
}
*/
